/*
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>Relatórios</title>
</head>
<body>
<div th:fragment="content">
    <h1 class="mb-4">Central de Relatórios</h1>
    <div class="list-group">
        <a th:href="@{/relatorios/balancete}" class="list-group-item list-group-item-action">Balancete (Receitas x Despesas)</a>
        <a th:href="@{/relatorios/inadimplentes}" class="list-group-item list-group-item-action">Lista de Inadimplentes</a>
        <a th:href="@{/relatorios/fluxo-caixa}" class="list-group-item list-group-item-action">Projeção de Fluxo de Caixa</a>
    </div>
</div>
</body>
</html>
*/