<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout(titulo='Lista de Rubricas', content=~{::content}, pageScripts=~{::pageScripts})}"
>
  <body>
    <div th:fragment="content">
      <div class="page-header">
        <div class="add-item d-flex">
          <div class="page-title">
            <h4>Rubricas</h4>
            <h6>Gestão de todas as rubricas</h6>
          </div>
        </div>
        <ul class="table-top-head">
          <li>
            <a
              id="export-pdf"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Pdf"
              ><img src="/assets/img/icons/pdf.svg" alt="img"
            /></a>
          </li>
          <li>
            <a
              id="export-excel"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Excel"
              ><img src="/assets/img/icons/excel.svg" alt="img"
            /></a>
          </li>
          <li>
            <a
              id="export-print"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Print"
              ><i data-feather="printer" class="feather-rotate-ccw"></i
            ></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"
              ><i data-feather="rotate-ccw" class="feather-rotate-ccw"></i
            ></a>
          </li>
        </ul>
        <div class="page-btn">
          <a th:href="@{/cadastros/rubricas/novo}" class="btn btn-added"
            ><i data-feather="plus-circle" class="me-2"></i>Adicionar Rubrica</a
          >
        </div>
      </div>

      <div class="card table-list-card">
        <div class="card-body">
          <div class="table-top table-top-two table-top-new">
            <div class="search-set mb-0">
              <div class="total-employees">
                <h6>
                  <i data-feather="tag" class="feather-tag"></i>Total de
                  Rubricas
                  <span th:text="${#lists.size(rubricas)}"></span>
                </h6>
              </div>
            </div>
            <div class="search-path d-flex align-items-center search-path-new">
              <div class="d-flex">
                <a class="btn btn-filter" id="filter_search">
                  <i data-feather="filter" class="filter-icon"></i>
                  <span
                    ><img src="/assets/img/icons/closes.svg" alt="img"
                  /></span>
                </a>
                <a th:href="@{/cadastros/rubricas}" class="btn-list active"
                  ><i data-feather="list" class="feather-tag"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- /Filter -->
          <div class="card" id="filter_inputs" style="display: none">
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="input-blocks">
                    <i data-feather="tag" class="info-img"></i>
                    <select class="select">
                      <option>Escolha uma Rubrica</option>
                      <option
                        th:each="rubrica : ${rubricas}"
                        th:text="${rubrica.nome}"
                      >
                        Nome da Rubrica
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12 ms-auto">
                  <div class="input-blocks">
                    <a class="btn btn-filters ms-auto">
                      <i data-feather="search" class="feather-search"></i>
                      Pesquisar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Filter -->
          <div class="table-responsive">
            <table class="table dataTable table-striped" id="tabelaRubricas">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Tipo</th>
                  <th>Centro de Custo</th>
                  <th>Valor Padrão</th>
                  <th class="no-sort">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="rubrica : ${rubricas}">
                  <td>
                    <div class="userimgname">
                      <div>
                        <a href="javascript:void(0);" th:text="${rubrica.nome}"
                          >Nome da Rubrica</a
                        >
                      </div>
                    </div>
                  </td>
                  <td th:text="${rubrica.tipo}">Tipo</td>
                  <td th:text="${rubrica.grupoRubrica.nome}">Grupo de Rubrica</td>
                  <td
                    th:text="${'R$ ' + #numbers.formatDecimal(rubrica.valorPadrao, 1, 'POINT', 2, 'COMMA')}"
                  >
                    Valor Padrão
                  </td>
                  <td class="action-table-data">
                    <div class="edit-delete-action">
                      <a
                        class="me-2 p-2"
                        th:href="@{'/cadastros/rubricas/editar/' + ${rubrica.id}}"
                      >
                        <i data-feather="edit" class="feather-edit"></i>
                      </a>
                      <a
                        class="confirm-text p-2"
                        href="javascript:void(0);"
                        th:data-rubrica-id="${rubrica.id}"
                      >
                        <i data-feather="trash-2" class="feather-trash-2"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <th:block th:fragment="pageScripts">
      <script>
        $(document).ready(function () {
          // Verifica se a tabela já é um DataTable para evitar reinicialização
          if ($.fn.DataTable.isDataTable("#tabelaRubricas")) {
            // Se já for, destrói a instância para poder recriá-la
            $("#tabelaRubricas").DataTable().destroy();
          }

          // Inicializa o DataTable
          if ($("#tabelaRubricas").length > 0) {
            $("#tabelaRubricas").DataTable({
              destroy: true, // Evita o erro de reinicialização
              language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json",
              },
              // Ordena pela primeira coluna (Nome)
            });
          }

          // Script para confirmar a exclusão com SweetAlert
          $("#tabelaRubricas").on("click", ".confirm-text", function () {
            var rubricaId = $(this).data("rubrica-id");
            Swal.fire({
              title: "Você tem certeza?",
              text: "Esta ação não poderá ser revertida!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Sim, excluir!",
              cancelButtonText: "Cancelar",
            }).then((result) => {
              if (result.isConfirmed) {
                // Se confirmado, redireciona para a URL de exclusão
                window.location.href =
                  "/cadastros/rubricas/excluir/" + rubricaId;
              }
            });
          });
        });
      </script>
    </th:block>
  </body>
</html>
