<div th:fragment="toast">
    <div class="toast-container position-fixed top-50 start-50 translate-middle">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header bg-white text-dark">
                <strong class="me-auto" id="toastTitle">Aviso</strong>
                <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" id="toastBody">
                </div>
        </div>
    </div>
    
    <script>
        function showToast(message, type) {
            const toastElement = document.getElementById('liveToast');
            const toastTitle = document.getElementById('toastTitle');
            const toastBody = document.getElementById('toastBody');
            
            // Remove classes de cores existentes do corpo para reuso
            toastBody.classList.remove('bg-danger', 'bg-success', 'bg-warning', 'text-white', 'text-dark');
            
            // Adiciona as classes de cor e texto ao corpo com base no tipo
            if (type === 'success') {
                toastBody.classList.add('bg-success', 'text-white');
                toastTitle.textContent = 'Sucesso';
            } else if (type === 'error') {
                toastBody.classList.add('bg-danger', 'text-white');
                toastTitle.textContent = 'Erro';
            } else if (type === 'warning') {
                toastBody.classList.add('bg-warning', 'text-dark');
                toastTitle.textContent = 'Aviso';
            } else {
                // Caso padrão para outros tipos de aviso
                toastBody.classList.add('bg-secondary', 'text-white');
                toastTitle.textContent = 'Aviso';
            }
            
            toastBody.textContent = message;
            
            const toast = new bootstrap.Toast(toastElement);
            toast.show();
        }
    </script>
</div>