<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout(titulo=${socioDto.id == null ? 'Novo Sócio' : 'Editar Sócio'}, content=~{::content}, pageScripts=~{::pageScripts})}">

<body>
  <div th:fragment="content">
    <div class="page-header">
      <div class="add-item d-flex">
        <div class="page-title">
          <h4 th:text="${socioDto.id == null ? 'Adicionar Sócio' : 'Editar Sócio'}">
            Adicionar Sócio
          </h4>
          <h6>Crie ou edite as informações de um sócio</h6>
        </div>
      </div>
      <ul class="table-top-head">
        <li>
          <div class="page-btn">
            <a th:href="@{/cadastros/socios}" class="btn btn-secondary"><i data-feather="arrow-left"
                class="me-2"></i>Voltar para a
              Lista</a>
          </div>
        </li>
      </ul>
    </div>

    <form id="socioForm" th:action="@{/cadastros/socios/salvar}" th:object="${socioDto}" method="post">
      <input type="hidden" th:field="*{id}" />
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <!-- DADOS PESSOAIS -->
              <div class="card-title-head">
                <h6>
                  <span><i data-feather="user" class="feather-edit"></i></span>Dados Pessoais
                </h6>
              </div>
              <div class="row">
                <div class="col-lg-8 col-md-12">
                  <div class="form-group mb-3">
                    <label>Nome Completo</label>
                    <input type="text" class="form-control mt-2" th:field="*{nome}" required />
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="form-group mb-3">
                    <label>CPF</label>
                    <input type="text" id="cpf" class="form-control mt-2" th:field="*{cpf}" required maxlength="14"
                      placeholder="000.000.000-00" />
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group mb-3">
                    <label>Data de Nascimento</label>
                    <div class="input-group">
                      <span class="input-group-text mt-2">
                        <i data-feather="calendar"></i>
                      </span>
                      <input type="text" class="form-control mt-2 datetimepicker" th:field="*{dataNascimento}"
                        placeholder="DD/MM/AAAA" />
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group mb-3">
                    <label>Grau</label>
                    <select class="form-select mt-2" th:field="*{grau}" required>
                      <option value="">Selecione...</option>
                      <option th:each="g : ${graus}" th:value="${g}" th:text="${g}"></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group mb-3">
                    <label>Status</label>
                    <select class="form-select mt-2" th:field="*{status}" required>
                      <option value="">Selecione...</option>
                      <option th:each="statusOption : ${T(br.com.sigest.tesouraria.domain.enums.StatusSocio).values()}"
                        th:value="${statusOption.name()}" th:text="${statusOption.name()}"></option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group mb-3">
                    <label>Grupo de Mensalidade</label>
                    <select class="form-select mt-2" th:field="*{grupoMensalidadeId}">
                      <option value="">Nenhum</option>
                      <option th:each="grupo : ${gruposMensalidade}" th:value="${grupo.id}" th:text="${grupo.nome}">
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- VINCULO -->
              <div class="card-title-head mt-4">
                <h6>
                  <span><i data-feather="link-2" class="feather-edit"></i></span>Vínculo
                </h6>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group mb-3">
                    <label>Sócio Titular</label>
                    <select class="form-select mt-2" th:field="*{socioTitularId}">
                      <option value="">Nenhum (é um sócio titular)</option>
                      <option th:each="socio : ${sociosList}" th:value="${socio.id}" th:text="${socio.nome}"
                        th:disabled="${socio.id == socioDto.id}">
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- CONTATO -->
              <div class="card-title-head mt-4">
                <h6>
                  <span><i data-feather="phone" class="feather-edit"></i></span>
                  Contato
                </h6>
              </div>
              <div class="row">
                <!-- <div class="col-lg-6 col-md-6">
                    <div class="form-group mb-3">
                      <label>Email de Login</label>
                      <input
                        type="email"
                        class="form-control mt-2"
                        th:field="*{email}"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group mb-3">
                      <label>Email Alternativo</label>
                      <input
                        type="email"
                        class="form-control mt-2"
                        th:field="*{emailAlternativo}"
                      />
                    </div>
                  </div> -->
                <div class="col-lg-6 col-md-6">
                  <div class="form-group mb-3">
                    <label>Celular</label>
                    <input type="text" id="celular" class="form-control mt-2" th:field="*{celular}"
                      placeholder="(00) 00000-0000" />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div class="form-group mb-3">
                    <label>Telefone Residencial</label>
                    <input type="text" id="telefoneResidencial" class="form-control mt-2"
                      th:field="*{telefoneResidencial}" placeholder="(00) 0000-0000" />
                  </div>
                </div>
              </div>

              <!-- ENDEREÇO RESIDENCIAL -->
              <div class="card-title-head mt-4">
                <h6>
                  <span><i data-feather="map-pin" class="feather-edit"></i></span>
                  Endereço Residencial
                </h6>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group mb-3">
                    <label>Endereço Residencial</label>
                    <input type="text" class="form-control mt-2" th:field="*{enderecoResidencial}" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-end mb-3">
        <a th:href="@{/cadastros/socios}" class="btn btn-cancel me-2">Cancelar</a>
        <button type="submit" class="btn btn-submit">
          Salvar Alterações
        </button>
      </div>
    </form>

    <!-- DEPENDENTES -->
    <div class="row" th:if="${socioDto.id != null}">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="card-title-head">
              <h6>
                <span><i data-feather="users" class="feather-edit"></i></span>
                Dependentes
              </h6>
              <div class="page-btn">
                <a th:href="@{/cadastros/socios/novo(titular=${socioDto.id})}" class="btn btn-primary">
                  <i data-feather="plus" class="me-2"></i>Adicionar Dependente
                </a>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Grau</th>
                    <th>Status</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="dependente : ${socioDto.dependentes}">
                    <td th:text="${dependente.nome}"></td>
                    <td th:text="${dependente.cpf}"></td>
                    <td th:text="${dependente.grau}"></td>
                    <td>
                      <span
                        th:classappend="${dependente.status.toString() == 'FREQUENTE' ? 'status-dot-green' : 'status-dot-red'}"></span>
                      <span th:text="${dependente.status}"></span>
                    </td>
                    <td>
                      <a th:href="@{/cadastros/socios/editar/{id}(id=${dependente.id})}"
                        class="btn btn-sm btn-primary">Editar</a>
                    </td>
                  </tr>
                  <tr th:if="${#lists.isEmpty(socioDto.dependentes)}">
                    <td colspan="5" class="text-center">Nenhum dependente encontrado.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Toast para mensagens de erro/sucesso -->
    <div class="toast-container position-fixed top-50 start-50 translate-middle">
      <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header bg-white text-dark">
          <strong class="me-auto" id="toastTitle">Aviso</strong>
          <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastBody"></div>
      </div>
    </div>
  </div>
  <th:block th:fragment="pageScripts">
    <!-- Exibição de mensagens do backend como toasts -->
    <script>
      function showToast(message, type) {
        const toastElement = document.getElementById("liveToast");
        const toastTitle = document.getElementById("toastTitle");
        const toastBody = document.getElementById("toastBody");

        // Remove classes de cores existentes do corpo para reuso
        toastBody.classList.remove(
          "bg-danger",
          "bg-success",
          "bg-warning",
          "text-white",
          "text-dark"
        );

        // Adiciona as classes de cor e texto ao corpo com base no tipo
        if (type === "success") {
          toastBody.classList.add("bg-success", "text-white");
          toastTitle.textContent = "Sucesso";
        } else if (type === "error") {
          toastBody.classList.add("bg-danger", "text-white");
          toastTitle.textContent = "Erro";
        } else if (type === "warning") {
          toastBody.classList.add("bg-warning", "text-dark");
          toastTitle.textContent = "Aviso";
        } else {
          // Caso padrão para outros tipos de aviso
          toastBody.classList.add("bg-secondary", "text-white");
          toastTitle.textContent = "Aviso";
        }

        toastBody.textContent = message;

        const toast = new bootstrap.Toast(toastElement);
        toast.show();
      }
    </script>
    <script th:inline="javascript">
      /*<![CDATA[*/
      window.onload = function () {
        const warningMessage = /*[[${warning}]]*/ null;
        const successMessage = /*[[${success}]]*/ null;
        const errorMessage = /*[[${error}]]*/ null;

        if (warningMessage) {
          showToast(warningMessage, "warning");
        }
        if (successMessage) {
          showToast(successMessage, "success");
        }
        if (errorMessage) {
          showToast(errorMessage, "error");
        }
      };
      /*]]>*/
    </script>
  </th:block>
</body>

</html>