<!DOCTYPE html>
<html
  lang="pt-br"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout(titulo='Lista de Sócios', content=~{::content}, pageScripts=~{::pageScripts})}"
>
  <body>
    <div th:fragment="content">
      <div class="page-header">
        <div class="add-item d-flex">
          <div class="page-title">
            <h4>Sócios</h4>
            <h6>Gestão de todos os sócios</h6>
          </div>
        </div>
        <ul class="table-top-head">
          <li>
            <a
              id="export-pdf"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Pdf"
              ><img src="/assets/img/icons/pdf.svg" alt="img"
            /></a>
          </li>
          <li>
            <a
              id="export-excel"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Excel"
              ><img src="/assets/img/icons/excel.svg" alt="img"
            /></a>
          </li>
          <li>
            <a
              id="export-print"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="Print"
              ><i data-feather="printer" class="feather-rotate-ccw"></i
            ></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Refresh"
              ><i data-feather="rotate-ccw" class="feather-rotate-ccw"></i
            ></a>
          </li>
        </ul>
        <div class="page-btn">
          <a th:href="@{/cadastros/socios/novo}" class="btn btn-added"
            ><i data-feather="plus-circle" class="me-2"></i>Adicionar Sócio</a
          >
        </div>
      </div>

      <div class="card table-list-card">
        <div class="card-body">
          <div class="table-top table-top-two table-top-new">
            <div class="search-set mb-0">
              <div class="total-employees">
                <h6>
                  <i data-feather="users" class="feather-user"></i>Total de
                  Sócios <span th:text="${#lists.size(socios)}">21</span>
                </h6>
              </div>
            </div>
            <div class="search-path d-flex align-items-center search-path-new">
              <div class="d-flex">
                <a class="btn btn-filter" id="filter_search">
                  <i data-feather="filter" class="filter-icon"></i>
                  <span
                    ><img src="/assets/img/icons/closes.svg" alt="img"
                  /></span>
                </a>
                <a th:href="@{/cadastros/socios}" class="btn-list active"
                  ><i data-feather="list" class="feather-user"></i
                ></a>
                <a th:href="@{/cadastros/socios/grid}" class="btn-grid"
                  ><i data-feather="grid" class="feather-user"></i
                ></a>
              </div>
            </div>
          </div>
          <!-- /Filter -->
          <div class="card" id="filter_inputs" style="display: none">
            <div class="card-body pb-0">
              <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="input-blocks">
                    <i data-feather="user" class="info-img"></i>
                    <select class="select">
                      <option>Escolha um Nome</option>
                      <option
                        th:each="socio : ${socios}"
                        th:text="${socio.nome}"
                      >
                        Nome do Sócio
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                  <div class="input-blocks">
                    <i data-feather="stop-circle" class="info-img"></i>
                    <select class="select">
                      <option>Escolha um Status</option>
                      <option>Frequente</option>
                      <option>Afastado</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12 ms-auto">
                  <div class="input-blocks">
                    <a class="btn btn-filters ms-auto">
                      <i data-feather="search" class="feather-search"></i>
                      Pesquisar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Filter -->
          <div class="table-responsive">
            <table class="table" id="tabelaSocios">
              <thead>
                <tr>
                  <th>Sócio</th>
                  <th>Grau</th>
                  <th>CPF</th>
                  <th>Status</th>
                  <th>Grupo Mensalidade</th>
                  <th class="no-sort">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="socio : ${socios}">
                  <td>
                    <div class="userimgname">
                      <a href="javascript:void(0);" class="product-img">
                        <img
                          src="/assets/img/users/user-01.jpg"
                          alt="product"
                        />
                      </a>
                      <div>
                        <a href="javascript:void(0);" th:text="${socio.nome}"
                          >Nome do Sócio</a
                        >
                      </div>
                    </div>
                  </td>
                  <td th:text="${socio.grau}">Grau</td>
                  <td th:text="${socio.cpf}">CPF</td>
                  <td>
                    <span
                      th:text="${socio.status}"
                      th:classappend="${socio.status.name() == 'FREQUENTE'} ? 'badge-linesuccess' : 'badges-inactive'"
                      class="badge"
                    >
                      Status
                    </span>
                  </td>
                  <td th:text="${socio.grupoMensalidade != null ? socio.grupoMensalidade.nome : 'Nenhum'}">Grupo Mensalidade</td>
                  <td class="action-table-data">
                    <div class="edit-delete-action">
                      <a
                        class="me-2 p-2"
                        th:href="@{'/cadastros/socios/editar/' + ${socio.id}}"
                      >
                        <i data-feather="edit" class="feather-edit"></i>
                      </a>
                      <a class="confirm-text p-2" href="javascript:void(0);" th:data-socio-id="${socio.id}">
                        <i data-feather="trash-2" class="feather-trash-2"></i>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Toast para mensagens de erro/sucesso -->
      <div class="toast-container position-fixed top-50 start-50 translate-middle">
          <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
              <div class="toast-header bg-white text-dark">
                  <strong class="me-auto" id="toastTitle">Aviso</strong>
                  <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body" id="toastBody">
                  </div>
          </div>
      </div>
    </div>
    
    <th:block th:fragment="pageScripts">
      <!-- Sweetalert 2 para confirmação de exclusão -->
      <script th:src="@{/assets/plugins/sweetalert/sweetalert2.all.min.js}"></script>

      <script>
        $(document).ready(function () {
          // Inicializa o DataTable
          if ($("#tabelaSocios").length > 0) {
            $("#tabelaSocios").DataTable({
              destroy: true, // Evita o erro de reinicialização
              language: {
                url: "//cdn.datatables.net/plug-ins/1.12.1/i18n/pt-BR.json",
              },
              // Ordena pela primeira coluna (Nome)
            });
          }

          // Script para confirmar a exclusão com SweetAlert
          $("#tabelaSocios").on("click", ".confirm-text", function () {
            var socioId = $(this).data("socio-id");
            Swal.fire({
              title: "Você tem certeza?",
              text: "Esta ação não poderá ser revertida!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Sim, excluir!",
              cancelButtonText: "Cancelar",
            }).then((result) => {
              if (result.isConfirmed) {
                // Se confirmado, redireciona para a URL de exclusão
                window.location.href = "/cadastros/socios/excluir/" + socioId;
              }
            });
          });
        });
      </script>
      <!-- Script para exibir toasts -->
      <script>
          function showToast(message, type) {
              const toastElement = document.getElementById('liveToast');
              const toastTitle = document.getElementById('toastTitle');
              const toastBody = document.getElementById('toastBody');
              
              // Remove classes de cores existentes do corpo para reuso
              toastBody.classList.remove('bg-danger', 'bg-success', 'bg-warning', 'text-white', 'text-dark');
              
              // Adiciona as classes de cor e texto ao corpo com base no tipo
              if (type === 'success') {
                  toastBody.classList.add('bg-success', 'text-white');
                  toastTitle.textContent = 'Sucesso';
              } else if (type === 'error') {
                  toastBody.classList.add('bg-danger', 'text-white');
                  toastTitle.textContent = 'Erro';
              } else if (type === 'warning') {
                  toastBody.classList.add('bg-warning', 'text-dark');
                  toastTitle.textContent = 'Aviso';
              } else {
                  // Caso padrão para outros tipos de aviso
                  toastBody.classList.add('bg-secondary', 'text-white');
                  toastTitle.textContent = 'Aviso';
              }
              
              toastBody.textContent = message;
              
              const toast = new bootstrap.Toast(toastElement);
              toast.show();
          }
      </script>
      <!-- Exibição de mensagens do backend como toasts -->
      <script th:inline="javascript">
          /*<![CDATA[*/
          window.onload = function() {
              const warningMessage = /*[[${warning}]]*/ null;
              const successMessage = /*[[${success}]]*/ null;
              const errorMessage = /*[[${error}]]*/ null;

              if (warningMessage) {
                  showToast(warningMessage, 'warning');
              }
              if (successMessage) {
                  showToast(successMessage, 'success');
              }
              if (errorMessage) {
                  showToast(errorMessage, 'error');
              }
          };
          /*]]>*/
      </script>
    </th:block>
  </body>
</html>
